section {
  min-height: 100vh;
}

section h1 {
  font-weight: bold;
}

#arrow {
  color: var(--bs-body-bg);
  font-size: 30px;
}

#arrow:hover {
  color: var(--bs-info-border-subtle);
}

section {
  scroll-snap-type: y mandatory;
}

